<div>
    <div>
        <button pButton 
                type="button" 
                label="Get users" 
                class="ui-button-primary"
                (click)="getUsers()"></button>
    </div>
    <p-table [value]="allUsers">
      <ng-template pTemplate="header">
        <tr>
          <th>Number</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-idx="rowIndex">
        <tr>
          <td>{{idx+1}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
      </ng-template>
    </p-table>
   
  </div>