<div>
    <div>
        <button pButton 
                type="button" 
                label="Get users" 
                class="ui-button-primary"
                (click)="getUsers()"></button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers, let idx = index">
            <td>{{idx+1}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
      </tbody>
    </table>
   
  </div>